<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Accept coordinates as input to a geocoder</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <div id="map"></div>

    <script>
            mapboxgl.accessToken =
              "pk.eyJ1IjoiYWVuaXNoIiwiYSI6ImNsMThycnpscDFwZDgzbHYwOGlkOXVncWwifQ.5ZbVxiqx6PnXHyRscpU-eA";
            const map = new mapboxgl.Map({
              container: "map",
              style: "mapbox://styles/mapbox/streets-v11",
              center: [{{lon}}, {{lat}}],
              zoom: 18,
            });
            map.addControl(
      {% comment %} Track user location {% endcomment %}
      new mapboxgl.GeolocateControl({
      positionOptions: {
      enableHighAccuracy: true
      },
      // When active the map will receive updates to the device's location as it changes.
      trackUserLocation: true,
      // Draw an arrow next to the location dot to indicate which direction the device is heading.
      showUserHeading: true
      })
      );
            new mapboxgl.Marker().setLngLat([{{lon}},{{lat}}]).addToMap(map)
    </script>
  </body>
</html>
