<!doctype html>
{% load static %}
<html lang="en">

<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Tab Logo -->
    <link rel="icon" href="{% static 'img/Logos/TabTop2Logo.png' %}" type="image/gif" sizes="18x18">

    <title>Choice Nepal travels - {% block title %}{% endblock %}</title>

</head>
<style>
    .navbar-nav > li{
        padding-left:10px;
        padding-right:10px;
</style>
<body   class="font-sans antialiased text-white-900 leading-normal tracking-wider" style="background-image:url('https://source.unsplash.com/1L71sPT5XKc'); width:100%; height: 100%; background-size:cover;">
   
    <div class="navbar sticky-top navbar-expand-lg navbar-light" style="font-size: larger;" aria-label="" aria-labbelledby="">
        
        <!--logo of commpany-->
        <a href="/Home"><img class="rounded-circle" src="{% static 'img/Logos/ChoiceNepal.png' %}" height="60"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--Buttons on left side-->
            <ul class="navbar-nav mr-auto"  >
                <li class="nav-item" display: inline-block; padding-right: 20px;>
                    <a class="nav-link" style="color: Orange" href="/Home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"style="color: Orange"  href="/SentRequests">Sent Requests</a>
                </li>
            </ul>
            


            <!--Buttons on right side-->
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-item" style="color: Orange" href="/Profile" title="Your Profile">
                        Profile <img class="rounded-circle" src="{{customer.customer_license.url}}" style="width: 50px;"   "border-radius: 50px 10px;"> <br>
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-item" style="color: Orange" href="/Logout">
                        Logout</a>
                </li>
            </ul>
            <!--Buttons on right side-->

        </div>
    </div>

    <!-- Side bar -->

    <div class="container-fluid" style="color: white;">
        <div class="row">
            <div class="col-sm-2" style="height: auto; background: transparent;" id="demo">
                <div class="row">
                    <div class="col-sm mt-20">
                        {% include 'filter.html' %}
                    </div>
                </div>
            </div>
            <div class="col-sm-10" style="color: grey;">
                {% block pagecontent %} {% endblock pagecontent %}
            </div>
        </div>
    </div><!--end of main container -->
    



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    {% comment %} <script defer src="https://cdn.tailwindcss.com"></script> {% endcomment %}
</body>

</html>