{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html>

<head>
    <title>Login Pagess</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sigin.css' %}">
    <link rel="icon" href="{% static 'img/Logos/TabTop2Logo.png' %}" type="image/gif" sizes="18x18">
    
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="font-size: larger;">
        <!--logo-->
           <a href="/"><img class="rounded-circle" src="{% static 'img/Logos/ChoiceNepal.png' %}" height="60"></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
           </button>
   
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                   <li class="nav-item">
                       <a class="nav-link active" href="/" style=" color: #52ffff; ">Home</a>
                   </li>
               </ul>
   
           </div>
    </nav>
    <!-- navigaton bar end -->

</head>

<body>
    

  


<div class="container">
    <div class="d-flex justify-content-enter h-100">
        <div class="card">
            <div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
            <div class="card-body">
                <form action="/LoginAuthentication/" method="POST">
                    {%csrf_token%}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" for="exampleDropdownFormEmail1"><i class="fas fa-user"></i></span>

                        </div>
                        
                        <input type="email" class="form-control" name="login_email" id="exampleDropdownFormEmail1" placeholder="Aenish.lamichhane@example.com" autocomplete="off" required>
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
							<span class="input-group-text" for="exampleDropdownFormPassword1"><i class="fas fa-key"></i></span>
						</div>
                        
                        <input type="password" class="form-control" name="login_password" id="exampleDropdownFormPassword1" placeholder="Password" required>
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn float-right login_btn" value="Login" name="Login" />
                    </div>
                </form>

            </div>
            <div class-"card-footer">
                <div class="d-flex justify-content-center links">
                    New around here? <a href="/register">Register</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'reset_password' %}">Forgot password?</a>
                </div>

            </div>

        </div>

    </div>
        
        
</div>

</body>

</html>